# SECURITY
DEBUG=False
SECRET_KEY=change_this_to_a_very_long_random_string_in_production
ALLOWED_HOSTS=yourdomain.com,123.45.67.89

# BOT
API_TOKEN=your_bot_token
ADMINS=123456789,987654321

# WEB
WEB_DOMAIN=https://yourdomain.com

# DATABASE
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=postgres
DB_USER=postgres
DB_PASS=postgres
DB_HOST=db
DB_PORT=5432

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379

# CELERY
CELERY_BROKER_URL=redis://redis:6379/0

# CHANNELS
CHANNELS=-100123456789,-100987654321
ADMIN_GROUP_ID=-100123456789

# GROUPS
BOYS_GROUP_ID=-100111222333
GIRLS_GROUP_ID=-100444555666

# THREADS
TECHNICAL_SUPPORT_THREAD_ID=10
MESSAGE_THREAD_ID=20

# RECAPTCHA (If used)
RECAPTCHA_PUBLIC_KEY=your_recaptcha_public
RECAPTCHA_PRIVATE_KEY=your_recaptcha_private
